.chart-container{
    width: 45%;
}
.charts-container{
    display: flex;
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 14px;
    border-radius: 12px;
}
.analytics-title{
    margin-left: 12px;
    margin-bottom: 12px;
    font-size: 30px;
}
.filter{
    margin-left:12px
}